<!DOCTYPE html>
<html>
<head>
  <title>Haymakerbets</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Beginning Of Navigation Bar -->
			<header id="header" class="alt">
				<h1><strong><a href="index.html">HaymakerBets</a></strong>.com</h1>
				<nav id="nav">
					<ul>
						<li><%= link_to "HOME", root_path %></li>

						<li><%= link_to "SPORT PICKS", welcome_sportpicks_path %></li>


						<li><%= link_to "Software Name", welcome_subscription_path %></li>
						

						      <% if user_signed_in? %>
        <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Sign In', new_user_session_path %></li>
        <li><%= link_to 'Sign up', new_user_registration_path %></li>
      <% end %>

					</ul>
				</nav>
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>
<!-- End Of Navigation Bar-->

<% if notice.present? %>
  <p class="alert alert-info"><%= notice %></p>
<% end %>
<% if alert.present? %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>
</body>
</html>
